/* COLORS */
:root {
	--niner-green: #005236;
	--niner-green-emphasis: #388770;
}

a {
	color: var(--niner-green);
	text-decoration: none;
}

a:hover {
	cursor: pointer;
	text-decoration: none;
	color: var(--niner-green-emphasis);
}

.form-control:focus{
	border-color: hsl(160, 88%, 33%);
	box-shadow: 0 0 0 .25rem hsla(160, 100%, 24%, 0.25);
}

.form-check-input:checked {
	background-color: var(--niner-green);
	border-color: var(--niner-green);
}

.btn-primary {
	--bs-btn-bg: var(--niner-green);
	--bs-btn-border-color: var(--niner-green);
	--bs-btn-hover-bg: var(--niner-green-emphasis);
	--bs-btn-hover-border-color: var(--niner-green-emphasis);
	--bs-btn-active-bg: var(--niner-green);
	--bs-btn-active-border-color: var(--niner-green);
	--bs-btn-disabled-bg: var(--niner-green);
	--bs-btn-disabled-border-color: var(--niner-green);
}

.btn-outline-primary {
	--bs-btn-color: var(--niner-green);
	--bs-btn-border-color: var(--niner-green);
	--bs-btn-hover-bg: var(--niner-green-emphasis);
	--bs-btn-hover-border-color: var(--niner-green-emphasis);
	--bs-btn-active-bg: var(--niner-green);
	--bs-btn-active-border-color: var(--niner-green);
	--bs-btn-disabled-color: var(--niner-green);
	--bs-btn-disabled-border-color: var(--niner-green);
}

.bg-primary {
	background-color: var(--niner-green) !important;
}

.dropdown-menu {
	--bs-dropdown-link-active-bg: var(--niner-green);
}

.dropdown-item:hover {
  color: var(--niner-green-emphasis);
}

.dropdown-item:active {
  color: white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  font-family: 'Mukta', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1 {
  font-size: 2.986rem;
  font-weight: 700;
}

h2 {
  font-size: 2.488rem;
  font-weight: 700;
}

h3 {
  font-size: 2.074rem;
  font-weight: 700;
}

h4 {
  font-size: 1.728rem;
  font-weight: 500;
}

h5 {
  font-size: 1.44rem;
  font-weight: 500;
}

h6 {
  font-size: 1.2rem;
  font-weight: 500;
}
