.UPP {
    width: 300px;
    height: 300px;
}
.form-check-inline {
    margin-right: 10px;
  }
  
  .button-container {
    display: flex;
    justify-content: flex-start; /* Aligns to the start (left) of the container */
    gap: 10px; /* Adds space between buttons */
  }
  