.comment {
  margin: 5px;
  border-top: 1px solid #e3e3e3;
}

.comment-header {
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.comment-profile-image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-info h3 {
  display: inline-block;
  margin: 0;
  font-size: 0.9em;
}

.comment-info span {
  display: block;
  font-size: 0.7em;
  color: gray;
}

.comment-content {
  margin: 10px 0;
}

.comment-edit button {
  padding-top: 3px !important;
  padding-bottom: 0px !important;
}

.commenter-profile-image {
  position: relative;
  top: -10px;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.commenter-info {
  display: inline-block;
  margin-top: 10px;
}