.comment {
  padding: 5px;
  margin: 10px;
}

.comment-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.comment-profile-image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-info h3 {
  margin: 0;
  font-size: 0.9em;
}

.comment-info p {
  margin: 0;
  font-size: 0.7em;
  color: gray;
}

.comment-info span {
  font-size: 0.8em;
  color: gray;
}

.comment-content {
  margin: 10px 0;
}

.comment-edit-entry {
  width: calc(100% - 140px);
  max-width: 500px; /* Adjust this to your desired maximum width */
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  border: none;
  border-radius: 0.4rem 0 0 0.4rem;
  background-color: #e7e7e7;
}

.comment-edit-submit {
  width: 60px;
  border-radius: 0 0.4rem 0.4rem 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  background-color: #e7e7e7;
}

.comment-edit-cancel {
  width: 60px;
  border-radius: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  background-color: #e7e7e7;
}

.comment-actions {
  margin-top: -28px;
  margin-left: 5px;
}

.comment-actions button {
  background: none;
  border: none;
  color: #0073b1;
  cursor: pointer;
}
