.post {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #fff;
	box-shadow: 2px 2px 2px 0 gray;
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-info h3 {
  margin: 0;
  font-size: 1.1em;
}

.post-info p {
  margin: 0;
  font-size: 0.9em;
  color: gray;
}

.post-info span {
  font-size: 0.8em;
  color: gray;
}

.post-content {
  margin: 10px 0;
}

.job-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  background: #f9f9f9;
  margin-top: 10px;
}

.job-card-content h4 {
  margin: 0;
  color: #0073b1; /* LinkedIn-like blue */
}

.post-reactions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: gray;
  font-size: 0.9em;
}

.post-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
}

.post-actions button {
  background: none;
  border: none;
  color: #0073b1;
}

.post-actions button:hover {
  background: none;
  border: none;
  color: #2a9bd8;
  cursor: pointer;
}

.post button {
  padding-top: 3px;
  padding-bottom: 0px;
}

.creator-name {
  text-decoration: none;
}

.card-heading {
  margin: 0;
}

.post-options {
	display: inline-block;
}

.post-user {
	display: inline-block;
}

.pic-container {
	display: inline-block;
	vertical-align:top
}

.profile-pic {
	height: 50px;
	border-radius: 50%;
}

.user-display-name {
	display: inline-block;
	margin-top: 20px;
}

.post-options {
	margin-bottom: 5px;
}