.post {
  margin-bottom: 20px;
  background: #ffffff;
	box-shadow: 2px 2px 5px 1px gray;
}

.post-header {
  justify-content: space-between;
  background: #ffffff !important;
  padding: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 0 !important;
}

.post-header button {
  background-color: #ffffff !important;
  border-color: #ffffff;
}

.repost-header {
  justify-content: space-between;
  background-color: #e3e3e3 !important;
  padding: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.repost-header button {
  background-color: #e3e3e3 !important;
  border-color: #e3e3e3;
}

/* .post-content {
  padding: 15px; 
} */
.post-comment {
  margin-left: 10px;
  margin-right: 10px;
}

.post-comment-form {
  background-color: #ffffff !important;
}

.creator-profile-image {
  position: relative;
  top: -10px;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.reposter-profile-image {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
}

.creator-info {
  display: inline-block;
  margin-top: 10px;
}

.post-info h3 {
  display: inline-block;
  margin: 0;
  font-size: 1.1em;
}

.repost-info h4 {
  margin: 0;
  font-size: 0.9em;
  font-weight: normal;
}

.post-info span {
  display: block;
  font-size: 0.8em;
  color: gray;
}

.job-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  background: #f9f9f9;
  margin-top: 10px;
}

.job-card-content h4 {
  margin: 0;
  color: #0073b1; /* LinkedIn-like blue */
}

.post-reactions {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  color: gray;
  font-size: 0.9em;
}

.post-actions {
  display: flex;
  justify-content: space-around;
}

.post-actions button {
  background: none;
  border: none;
  color: #0073b1;
}

.post-actions button:hover {
  background: none;
  border: none;
  color: #2a9bd8;
  cursor: pointer;
}

.post button {
  padding-top: 3px;
  padding-bottom: 0px;
}

.reposter-name {
  text-decoration: none;
}

.card-heading {
  margin: 0;
}

.post-options {
	display: inline-block;
}

.post-user {
	display: inline-block;
}

.pic-container {
	display: inline-block;
	vertical-align:top
}

.profile-pic {
	height: 50px;
	border-radius: 50%;
}

.user-display-name {
	display: inline-block;
	margin-top: 20px;
}

.post-options {
	margin-bottom: 5px;
}