/* Logo */
/* .logo {
  height: 40px;
  margin-right: 10px;
} */

/* Profile icon */
.profile-icon {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #ccc;
  border-radius: 50%;
  flex-shrink: 0;
}

/* Message icon */
.message {
  height: 2rem;
  width: 2rem;
}

/* Alerts styling (if any custom styles are needed) */
.alert {
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
  margin: 10px 0;
  text-align: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

nav {
  z-index: 3;
}